<hibernate-configuration>
    <session-factory>
        <!-- Other Hibernate properties here -->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bdMatricula</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">oscarlemus18</property>

        <mapping class="entidad.Curso" />
        <mapping class="entidad.Estudiante" />
        <mapping class="entidad.Inscripcion" />
    </session-factory>
</hibernate-configuration>